<template name="quickForm_plain-fieldset">
  {{#autoForm this.qfAutoFormContext}}
    <fieldset>
      {{#with ../atts.legend}}
      <legend>{{this}}</legend>
      {{/with}}
      {{#each afFieldNames fields=../atts.fields omitFields=../atts.omitFields}}
        {{> afQuickField name=this options="auto" fields=../../atts.fields omitFields=../../atts.omitFields}}
      {{/each}}
    </fieldset>
    {{#if qfNeedsButton}}
    <div>
      <button {{submitButtonAtts}}>
        {{#with ../atts.buttonContent}}
        {{this}}
        {{else}}
        Submit
        {{/with}}
      </button>
    </div>
    {{/if}}
  {{/autoForm}}
</template>