<template name="quickForm_plain">
  {{#autoForm qfAutoFormContext}}

    {{#with grouplessFields}}
      {{> afQuickFields quickFieldsAtts}}
    {{/with}}

    {{#each fieldGroups}}
      <fieldset class="af-fieldGroup">
        {{#with fieldGroupLabel}}
          <legend class="af-fieldGroup-heading">{{this}}</legend>
        {{/with}}
        {{> afQuickFields quickFieldsAtts}}
      </fieldset>
    {{/each}}

    {{#if qfShouldRenderButton}}
    <div>
      <button type="submit" {{submitButtonAtts}}>
      {{#with ../atts.buttonContent}}
      {{this}}
      {{else}}
      Submit
      {{/with}}
      </button>
    </div>
    {{/if}}

  {{/autoForm}}
</template>
