<template name="quickForm_plain">
  {{#autoForm this.qfAutoFormContext}}
    {{> afQuickFields fields=../atts.fields omitFields=../atts.omitFields}}
    {{#if qfShouldRenderButton}}
    <div>
      <button {{submitButtonAtts}}>
      {{#with ../atts.buttonContent}}
      {{this}}
      {{else}}
      Submit
      {{/with}}
      </button>
    </div>
    {{/if}}
  {{/autoForm}}
</template>

<template name="afFieldLabel_plain">
  <label {{atts}}>{{afFieldLabelText name=this.atts.name}}</label>
</template>

<template name="afCheckbox_plain">
  <div><input type="checkbox" value="{{this.value}}" {{atts}} /> <label for="{{this.name}}">{{afFieldLabelText name=this.name}}</label></div>
</template>

<template name="afCheckboxGroup_plain">
  {{#each this.items}}
    <div><input type="checkbox" value="{{this.value}}" {{atts}} /> <label for="{{this.name}}">{{this.label}}</label></div>
  {{/each}}
</template>

<template name="afRadio_plain">
  <div><input type="checkbox" value="{{this.value}}" {{atts}} /> <label for="{{this.name}}">{{afFieldLabelText name=this.name}}</label></div>
</template>

<template name="afRadioGroup_plain">
  {{#each this.items}}
    <div><input type="checkbox" value="{{this.value}}" {{atts}} /> <label for="{{this.name}}">{{this.label}}</label></div>
  {{/each}}
</template>

<template name="afContenteditable_plain">
  <div contenteditable="true" {{this.atts}}>{{{this.value}}}</div>
</template>

<template name="afFieldSelect_plain">
  <select {{this.atts}}>
    {{#with this.contentBlockContext}}
    {{> ../contentBlock}}
    {{/with}}
  </select>
</template>

<template name="afSelect_plain">
  <select {{this.atts}}>
    {{#each this.items}}
    <option {{optionAtts}}>{{this.label}}</option>
    {{/each}}
  </select>
</template>

<template name="afTextarea_plain">
  <textarea {{this.atts}}>{{this.value}}</textarea>
</template>

<template name="afInputText_plain">
  <input type="text" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputPassword_plain">
  <input type="password" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputButton_plain">
  <input type="button" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputSubmit_plain">
  <input type="submit" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputReset_plain">
  <input type="reset" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputFile_plain">
  <input type="file" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputHidden_plain">
  <input type="hidden" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputImage_plain">
  <input type="image" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputDateTime_plain">
  <input type="datetime" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputDateTimeLocal_plain">
  <input type="datetime-local" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputDate_plain">
  <input type="date" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputMonth_plain">
  <input type="month" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputTime_plain">
  <input type="time" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputWeek_plain">
  <input type="week" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputNumber_plain">
  <input type="number" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputRange_plain">
  <input type="range" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputEmail_plain">
  <input type="email" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputUrl_plain">
  <input type="url" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputSearch_plain">
  <input type="search" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputTel_plain">
  <input type="tel" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afInputColor_plain">
  <input type="color" value="{{this.value}}" {{this.atts}}/>
</template>

<template name="afFormGroup_plain">
  <div class="{{#if afFieldIsInvalid name=this.atts.name}}has-error{{/if}}">
    {{#unless this.skipLabel}}
    {{> afFieldLabel this.afFieldLabelAtts}}
    {{/unless}}
    {{> afFieldInput this.afFieldInputAtts}}
    <span>{{{afFieldMessage name=this.atts.name}}}</span>
  </div>
</template>

<template name="afObjectField_plain">
  <fieldset>
    <legend>{{afFieldLabelText name=this.atts.name}}</legend>
    {{> afQuickFields name=this.atts.name fields=this.atts.fields omitFields=this.atts.omitFields}}
  </fieldset>
</template>

<template name="afArrayField_plain">
  <fieldset>
    <legend>{{afFieldLabelText name=this.atts.name}}</legend>
    {{#if afFieldIsInvalid name=this.atts.name}}
    <div class="autoform-array-field-error">
      {{{afFieldMessage name=this.atts.name}}}
    </div>
    {{/if}}
    {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
    <div class="autoform-array-item">
      {{> afQuickField name=this.name label=false}}
      {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
      <button class="autoform-remove-item">Remove</button>
      {{/if}}
    </div>
    {{/afEachArrayItem}}
    {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
    <div style="margin-top: 20px;">
      <button class="autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}">Add</button>
    </div>
    {{/if}}
  </fieldset>
</template>